@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap");

:root {
  /* COLORS */
  --primaryColor: #003d6a;
  --secondaryColor: #64c4ae;
  --black: #000000;
  --white: #fff;
  --greyColor: #c7c8c8;
  --backgroundLightGreyBlueColor: #dce0e6;

  /* FONT TYPES */
  --headerFont: "Barlow semi condensed bold", sans-serif;
  --paragraphFont: "Barlow semi condensed regular", sans-serif;
  --buttonFont: "Barlow semi condensed bold", sans-serif;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--backgroundLightGreyBlueColor);
}
